#carSpan{
    display:block;
    text-align: center;
}
.top-link{
    
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: nowrap;
    padding: 14px 16px;
}
#signup{
    position: absolute;
    right: 50px;
    top: 20px;
}
#signin{
    position: absolute;
    left: 50px;
    top: 20px;
}
#exer{
    position: absolute;
    left: 20px;
    top: 20px;
}



img{
    width: 500px;
    margin: 5px;
    padding: 5px;
    float: left;
    
}
body{
    background-color: rgb(223, 202, 208);
}
.top{
    text-align: center;
    position: relative;
    top: 15px;
}

.span1{
    font-size: 50px;
    color: darkred;
   
}
.span2{
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
form{
    background-color:rgb(225, 221, 213)
}
table{
    background-color:rgb(222, 147, 144);
    border: 2px;
    border-color: black;
    border-style:solid;
    border-collapse: collapse;
    margin: 5px;
    padding: 5px;
    text-align: center;
    tr:nth-child(even){background-color: #f2f2f2;}
    

}
td{
    border-style:dotted;
    margin: 0;
}
th{
    border-style:dashed;
    margin: 0;
}
tr{
    border-style: dashed;
}


a{
    text-decoration: none;
    color: #333;
}

a:hover{
    color: white;
    
}

.top{
    background-color: #333;
    color: white;
    width: 99%;
    text-align: center;
    }

ul{
    list-style-type: none;
    display: flex;
    
    justify-content: space-evenly;
    
    
    
    

}
article{
    display: inline-block;
}
.nav{
    float: right;
    width: 25%;
    background-color: #887b7b;
    color: white;
    text-align: center;
}
.para{
    padding: 5px;
    margin: 5px;
}

.great{
    float: left;
    width: 75%;
}
.survey{
    margin: 5px;
    background-color: rgb(122, 117, 117);
    font-size: 17px;
    width: 72vw;
    padding: 5px;
    
   
}
@media (max-width:768px) {
    .nav{
        width:95%;
    }
    .table{
        max-width: 90%;
    }
}
@media(max-width:992px){
    .nav{
        width: 95%;

    }
    .table{
        max-width: 90vh;
    }
}
.submits , .resets{
    width: 20vh;
    margin: 10px;
}

.submits:hover{
    background-color: black;
    color: white;
}
.resets:hover{
    background-color: black;
    color: white;
}
form{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.favorites{
    text-align: center;
    color: red;
    font-style: italic;
    font-size: 15px;
}
.carNumbers{
    text-align: center;
}
footer{
    text-align:center ;
    justify-content: center;
}
.bottom-link , .top-link{
    border: 1px solid black;
    

    display: flex;
    flex-wrap: wrap;
    
    background-color: rgb(246, 102, 102);
}
.bottom-link:hover{
    background-color: black;
}
.top-link:hover{
    background-color: rgb(0, 20, 238);
    font-weight: bold;
}



    

